{% extends 'base/base.html' %}
{% block content %}

  <h1>
    <span lang="en">Become a Member</span><span lang="fr">Devenez Membre</span>

  </h1>
  <br><br>

<span lang="en">

{{ becomeMemberTexts.textEN | safe }}

</span>

<span lang="fr">

{{ becomeMemberTexts.textFR | safe }}

</span>


  <a class="btn becomeMember" href="/contact_us?membership=1" type="button" name="button" style="width: 200px">
    <span lang="en">Join Now</span><span lang="fr">Adhérer maintenant</span>

  </a>

{% endblock %}
