{% extends 'base/base.html' %}
{% block content %}

  <h1>
    <span lang="en">Become a Member</span><span lang="fr">Devenez Membre</span>

  </h1>
  <br><br>

<span lang="en">
<p><strong>Eligibility</strong></p>

<p>To join CCV, you must:</p>

<ul>
  <li>Be employed in the Health, Social Service, or Community sector</li>
  <li>Have responsibility for coordinating a volunteer program</li>
  <li>Commit to active participation in CCV activities</li>
</ul>

<p><strong>Membership Requirements</strong></p>

<ul>
  <li>Annual dues: $80 (August–August)</li>
  <li>Meeting attendance: Minimum of 2/3 of scheduled meetings</li>
  <li>Active involvement: Through administration, projects, or ongoing tasks</li>
  <li>Approval: Membership must be approved by the Council</li>
</ul>

</span>


<span lang="fr">
<p><strong>Admissibilité</strong></p>

<p>Pour devenir membre du CCV, vous devez:</p>

<ul>
  <li>Travailler dans le secteur de la santé, des services sociaux ou communautaire</li>
  <li>Être responsable de la coordination d’un programme de bénévolat</li>
  <li>Vous engagez à participer activement aux activités du CCV</li>
</ul>

<p><strong>Exigences d’adhésion</strong></p>

<ul>
  <li>Cotisation annuelle : 80 $ (septembre à août)</li>
  <li>Participation aux rencontres : minimum de 2/3 des réunions prévues</li>
  <li>Engagement actif : par l’administration, les projets ou les tâches continues</li>
  <li>Approbation : l’adhésion doit être approuvée par le Conseil</li>
</ul>





</span>
  <a class="btn becomeMember" href="/contact_us?membership=1" type="button" name="button" style="width: 200px">
    <span lang="en">Join Now</span><span lang="fr">Adhérer maintenant</span>

  </a>

{% endblock %}
