{% extends 'base/base.html' %}
{% block content %}

  <h1>Become a Member</h1>
  <br><br>

  <h4>Why join the CCV?</h4>
  <br>
  <p>Joining an association is more than just signing up—it’s becoming part of a community that shares your values, goals, and passion. As a member, you gain access to valuable resources, exclusive events, and opportunities to network with like-minded individuals. Membership provides a platform to learn, grow, and stay informed about the latest trends in your field. You’ll also have a voice in shaping initiatives and projects that make a real difference. Together, we can achieve more—become a member today and help us build a stronger, connected future.</p>
<br><br>

  <h4>How to become a member?</h4>
  <br>
  <p>Joining our association is simple and rewarding! Follow these easy steps:</p>

<ul>
  <li>Fill Out the Membership Form – Complete the online application with your details.</li>
  <li>Choose Your Membership Type – Select the plan that best suits your needs.</li>
  <li>Submit Your Payment – Pay securely online or via the accepted methods listed.</li>
  <li>Confirmation – You’ll receive a welcome email with all your member benefits.</li>

</ul>


<p>Start your journey today and enjoy the advantages of being part of a strong, connected community!</p>
  <br><br><br><br><br>

  <a class="btn becomeMember" href="/contact_us?membership=1" type="button" name="button" style="width: 200px">Join Now</a>

{% endblock %}
