<div class="col-md-12 shadow-lg rounded div-info" id="myInfo">
  <h3>
    <span lang="en">My Info</span><span lang="fr">Mes informations</span>
    </h3>
    {% if member.member_pic %}
    <td class="firstCol"><img class="photo_big" src="{{ s3_root }}/images/member_pics/{{ member.member_pic|string}}"></td>
    {% else %}
     <td class="firstCol"><img class="photo_big" src="{{ url_for('static', filename='images/icons/user.png') }}"></td>
    {% endif %}
    <br>
    <strong>
      <span lang="en">Name:</span><span lang="fr">Nom:</span>
      </strong>{{ member.name}}<br/>
    <strong>
      <span lang="en">Role:</span><span lang="fr">Rôle:</span>
      </strong>{{ member.role}}<br/>
    <strong>
      <span lang="en">Email:</span><span lang="fr">Email:</span>
      </strong>{{ member.email}}<br/>
    <strong>
      <span lang="en">Phone Number:</span><span lang="fr">Numéro de téléphone:</span>
      </strong>{{ member.telephone}}<br/>
    <strong>
      <span lang="en">Organization:</span><span lang="fr">Organisation:</span>
      </strong>{{ member.organization}}<br/>
    <strong>
      <span lang="en">Number of volunteers I manage:</span><span lang="fr">Nombre de bénévoles que je gère:</span>
      </strong>{{ member.volunteers}}<br/>
    <br/><br/>
    <button class="btn blueButton" style="padding:0px" data-bs-toggle="modal" data-bs-target="#defaultModal" data-bs-url="{{ url_for('update_member', id=member.id) }}" data-bs-title="Edit My Info">
      <span lang="en">Edit My Info</span><span lang="fr">Modifier mes informations</span>
      </button>


</div>
