<div class="col-md-12 shadow-lg rounded div-info" id="myInfo">
  <h3>
    <span lang="en">My Info</span><span lang="fr">Mes Informations</span>

  </h3>
    {% if executive_member.executive_member_pic %}
     <td class="firstCol"><img class="photo_big" src="{{ s3_root }}/images/executive_member_pics/{{ executive_member.executive_member_pic|string}}"></td>
    {% else %}
     <td class="firstCol"><img class="photo_big" src="{{ url_for('static', filename='images/icons/user.png') }}"></td>
    {% endif %}
    <br>
    <br>
    <strong>
      <span lang="en">Name:</span><span lang="fr">Nom:</span>
    </strong>{{ executive_member.name}}<br/>
    <strong>
      <span lang="en">Role:</span><span lang="fr">Rôle:</span>
    </strong>{{ executive_member.role}}<br/>
    <strong>
      <span lang="en">Email:</span><span lang="fr">Email:</span>
    </strong>{{ executive_member.email}}<br/>
    <strong>
      <span lang="en">Phone Number:</span><span lang="fr">Numéro de téléphone:</span>
    </strong>{{ executive_member.telephone}}<br/>
    <strong>
      <span lang="en">English:</span><span lang="fr">Anglais:</span>
    </strong>
    {% if executive_member.english == True %}
      Yes
    {% else %}
      No
    {% endif %}
    <br/>
    <strong>
      <span lang="en">French:</span><span lang="fr">Français:</span>
    </strong>
    {% if executive_member.french == True %}
      Yes
    {% else %}
      No
    {% endif %}
    <br/>
    <strong>
      <span lang="en">Preferable:</span><span lang="fr">Préférable:</span>
    </strong>
    {% if executive_member.preferable == 1 %}
      English
    {% else %}
      French
    {% endif %}
    <br/>
    <strong>
      <span lang="en">Organization:</span><span lang="fr">Organisation:</span>

     </strong>{{ executive_member.organization}}<br/>
    <br/><br/>
    <button class="btn blueButton" style="padding:0px" data-bs-toggle="modal" data-bs-target="#defaultModal" data-bs-url="{{ url_for('update_executive_member', id=executive_member.id, deletable=0) }}" data-bs-title="Edit My Info">
      <span lang="en">Edit My Info</span><span lang="fr">Modifier mes informations</span>

    </button>


</div>
