<div class="col-md-12 shadow-lg rounded div-info" id="myInfo">
  <h3>
    <span lang="en">My Info</span><span lang="fr">Mes Informations</span>

  </h3>
    {% if executive_member.executive_member_pic %}
     <td class="firstCol"><img class="photo_big" src="{{ s3_root }}/images/executive_member_pics/{{ executive_member.executive_member_pic|string}}"></td>
    {% else %}
     <td class="firstCol"><img class="photo_big" src="{{ url_for('static', filename='images/icons/user.png') }}"></td>
    {% endif %}
    <br>
    <br>

    <span lang="en"><strong>Name:</strong></span><span lang="fr"><strong>Nom:</strong></span>
    <span>{{ executive_member.name}}</span><br/>

    <span lang="en"><strong>Role:</strong></span><span lang="fr"><strong>Rôle:</strong></span>
    <span>{{ executive_member.role}}</span><br/>

    <span lang="en"><strong>Email:</strong></span><span lang="fr"><strong>Email:</strong></span>
    <span>{{ executive_member.email}}</span><br/>

    <span lang="en"><strong>Phone Number:</strong></span><span lang="fr"><strong>Numéro de téléphone:</strong></span>
    <span>{{ executive_member.telephone}}</span><br/>

    <span lang="en"><strong>English:</strong></span><span lang="fr"><strong>Anglais:</strong></span>
    <span>
      {% if executive_member.english == True %}
        Yes
      {% else %}
        No
      {% endif %}
    </span><br/>

    <span lang="en"><strong>French:</strong></span><span lang="fr"><strong>Français:</strong></span>
    <span>
      {% if executive_member.french == True %}
        Yes
      {% else %}
        No
      {% endif %}
    </span><br/>

    <span lang="en"><strong>Preferable:</strong></span><span lang="fr"><strong>Préférable:</strong></span>
    <span>
      {% if executive_member.preferable == 1 %}
        English
      {% else %}
        French
      {% endif %}
    </span><br/>


    <span lang="en"><strong>Organization:</strong></span><span lang="fr"><strong>Organisation:</strong></span>
    <span>{{ executive_member.organization}}</span><br/>
    
    <br/><br/>
    <button class="btn blueButton" style="padding:0px" data-bs-toggle="modal" data-bs-target="#defaultModal" data-bs-url="{{ url_for('update_executive_member', id=executive_member.id, deletable=0) }}" data-bs-title="Edit My Info">
      <span lang="en">Edit My Info</span><span lang="fr">Modifier mes informations</span>

    </button>


</div>
