<div class="col-md-12 shadow-lg rounded div-info" id="banners">
  <h3>
    <span lang="en">Banners</span><span lang="fr">Bannières</span>
    </h3>

  <table class="table" id="usersTable">
    <thead>
      <tr>
        <th scope="col" class="firstCol">
          <span lang="en">Filename</span><span lang="fr">Nom de fichier</span>
          </th>
        <th scope="col">
          <span lang="en">Visible</span><span lang="fr">Visible</span>
          </th>
        <th scope="col">
          <span lang="en">Edit</span><span lang="fr">Modifier</span>
          </th>
      </tr>
    </thead>
  {% for banner in banners %}

    <tr>
      <td class="firstCol">
        <a target="_blank" href="{{ s3_root }}/images/banners/{{ banner.file|string }}">
          {{ banner.filename }}
        </a>
      </td>
      <td>{{ banner.visible }}</td>
      <td><button class="btn" style="padding:0px" data-bs-toggle="modal" data-bs-target="#defaultModal" data-bs-url="{{ url_for('update_banner', id=banner.id) }}" data-bs-title="Update Banner {{ banner.filename }}"><i class="bi bi-gear"></i></button></td>
    </tr>
  {% endfor %}
  </table>
  <div class="d-flex justify-content-between">
      <div></div>
      <div>
        <button class="btn blueButton" style="padding:0px" data-bs-toggle="modal" data-bs-target="#defaultModal" data-bs-url="{{ url_for('add_banner') }}" data-bs-title="Add New Banner">
          <span lang="en">Add New Banner</span><span lang="fr">Ajouter une nouvelle bannière</span>
        </button>
      </div>
 </div>

  </div>
