<div class="col-md-12 shadow-lg rounded div-info" id="pageHeaders">
  <h3>
    <span lang="en">Page Headers</span><span lang="fr">En-têtes de page</span>
    </h3>

  <table class="table" id="usersTable">
    <thead>
      <tr>
        <th scope="col" class="firstCol">
          <span lang="en">Filename</span><span lang="fr">Nom de fichier</span>
          </th>
        <th scope="col">
          <span lang="en">Edit</span><span lang="fr">Modifier</span>
          </th>
      </tr>
    </thead>
  {% for pageHead in pageHeads %}

    <tr>
      <td class="firstCol">
        <a target="_blank" href="{{ s3_root }}/images/pageHeads/{{ pageHead.file|string }}">
          {{ pageHead.filename }}
        </a>
      </td>
      <td><button class="btn" style="padding:0px" data-bs-toggle="modal" data-bs-target="#defaultModal" data-bs-url="{{ url_for('update_pageHead', id=pageHead.id) }}" data-bs-title="Update Page Header {{ pageHead.filename }}"><i class="bi bi-gear"></i></button></td>
    </tr>
  {% endfor %}
  </table>
  <div class="d-flex justify-content-between">
      <div></div>
      <div>
        <button class="btn blueButton" style="padding:0px" data-bs-toggle="modal" data-bs-target="#defaultModal" data-bs-url="{{ url_for('add_pageHead') }}" data-bs-title="Add New Page Head">
          <span lang="en">Add New Page Header</span><span lang="fr">Ajouter un nouvel en-tête de page</span>
        </button>
      </div>
 </div>

  </div>
