{% extends 'base/base_iframe.html' %}

{% block content %}

  {% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message|safe }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
  <form action="/update_page/{{ register_to_update.id }}" method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    <strong>{{ form.name.label(class="form-label") }}</strong>
    {{ form.name(class="form-control", value=register_to_update.name) }}

    <strong>{{ form.url.label(class="form-label") }}</strong>
    {{ form.url(class="form-control", value=register_to_update.url) }}

    <strong>{{ form.textEN.label(class="form-label") }}</strong>
    {{ ckeditor.create(value=register_to_update.textEN, name="ck1") }}

    <strong>{{ form.textFR.label(class="form-label") }}</strong>
    {{ ckeditor.create(value=register_to_update.textFR, name="ck2") }}



    <br/>
    {{ form.submit(class="btn blueButton") }}

    {% set protected_pages = ['Home', 'Member Directory', 'Mission'] %}
    {% if register_to_update.name not in protected_pages %}
      <a class="btn btn-danger" href="{{ url_for('delete_page', id=register_to_update.id) }}">Delete</a>
    {% endif %}

  </form>
  <br>
  <br>

  {{ ckeditor.load() }}
  {{ ckeditor.config(name='ckeditorEN', height= "900px")}}
  {{ ckeditor.config(name='ckeditorFR', height= "900px")}}

  <script src="{{ url_for('static', filename='js/forms.js') }}"></script>

{% endblock %}
