{% extends 'base/base.html' %}
{% block content %}

  <h1>
    <span lang="en">Contact Us</span><span lang="fr">Contactez-nous</span>

  </h1>

  <div class="col-md-12 container">
    <div class="d-flex justify-content-center">
       <div class="col-md-7 shadow-lg rounded div-info">
         <form action="https://formspree.io/f/movlkjwa" method="POST">
           <div class="form-check">
             {%if membership == "1" %}
              <input class="form-check-input" type="radio" name="ContactType" id="GeneralEnquiry"  >
             {% else %}
              <input class="form-check-input" type="radio" name="ContactType" id="GeneralEnquiry" checked>
             {% endif %}


             <label class="form-check-label" for="GeneralEnquiry">
               <span lang="en">General enquiry</span><span lang="fr">Demande générale</span>

             </label>
           </div>
           <div class="form-check">
            {%if membership == "1" %}
              <input class="form-check-input" type="radio" name="ContactType" id="Membership" checked>
            {% else %}
              <input class="form-check-input" type="radio" name="ContactType" id="Membership" >
            {% endif %}

            <label class="form-check-label" for="Membership">
              <span lang="en">Membership</span><span lang="fr">Adhésion</span>


            </label>
          </div>


           <label for="name">
             <span lang="en">Name:</span><span lang="fr">Calendrier d'activités</span>

           </label>
           <input type="text" class="form-control" name="name">

           <label for="organization">
             <span lang="en">Organization:</span><span lang="fr">Organisation:</span>

           </label>

           <input type="text" class="form-control" name="organization">

           <label for="email">
             <span lang="en">Your email:</span><span lang="fr">Votre email:</span>

           </label>
           <input type="email" class="form-control" name="email">

           <label for="phone">
             <span lang="en">Telephone:</span><span lang="fr">Téléphone:</span>

           </label>
           <input type="text" class="form-control" name="phone">

           <label class="form-label" for="message">
             <span lang="en">Your message:</span><span lang="fr">Votre message:</span>

           </label><br>
           <textarea class="form-control" name="message" rows="5"></textarea>

           <br>
           <br>
           <button type="submit" class="loginBtn">
             <span lang="en">Send</span><span lang="fr">Envoyer</span>
             </button>
         </form>
       </div>
       <br>
     </div>
  </div>


{% endblock %}
