{% extends 'base/base.html' %}

{% block content %}
  <h1><span lang="en">Home</span><span lang="fr">Accueil</span></h1>

  {% if banner or quotes %}
  <div class="" style="display: grid;grid-template-columns:auto 360px">
  {% else %}
  <div class="" style="display: grid;grid-template-columns:auto">
  {% endif %}
    <div>
      <span lang="en">
<p><strong>Connecting Volunteer Leaders Across Sectors</strong></p>

<p>The Community Council on Volunteerism (CCV) is a professional network of volunteer program managers working in healthcare, social services, and community-based organizations. Founded in 1983 by seven pioneering agencies, CCV continues to grow through the active involvement of its members.</p>

<p>Our organization has been created to serve the English community of Montreal, <strong>and our meetings and communications are in English.</strong></p>

<p>We exist to:</p>

<ul>
<li><strong>Promote volunteerism</strong> across our communities</li>
<li><strong>Support and elevate</strong> the profession of volunteer management</li>
<li><strong>Foster collaboration</strong> among coordinators facing shared challenges</li>
</ul>

<p>CCV provides a dynamic space to exchange ideas, share tools, and build strategies that strengthen volunteer programs.</p>


<a class="btn becomeMember" lang="en" href="{{ url_for('become_member') }}" id="becomeMember" role="button">
  <span>JOIN US!</span>
</a>

<a class="btn becomeMember" href="{{ url_for('member_directory') }}" id="memberDirectory" style="width:300px" role="button">
  <span>SEE OUR MEMBER LIST</span>
</a>
</span>


<span lang="fr">

<p><strong>Relier les leaders du bénévolat à travers les secteurs</strong></p>
<p>Le Community Council on Volunteerism (CCV) est un réseau professionnel réunissant des gestionnaires de programmes de bénévolat œuvrant dans les domaines de la santé, des services sociaux et des organismes communautaires. Fondé en 1983 par sept agences pionnières, le CCV continue de croître grâce à l’engagement actif de ses membres.</p>

<p>Notre organisation a été créée pour servir la communauté anglophone de Montréal, <strong>et nos réunions ainsi que nos communications se déroulent en anglais.</strong></p>

<p>Nous existons pour:</p>

<ul>
  <li><strong>Promouvoir le bénévolat</strong> au sein de nos communautés</li>
  <li><strong>Soutenir et valoriser</strong> la profession de gestion du bénévolat</li>
  <li><strong>Favoriser la collaboration</strong> entre les coordonnateurs confrontés à des défis communs</li>
</ul>

<p>Le CCV offre un espace dynamique pour échanger des idées, partager des outils et élaborer des stratégies visant à renforcer les programmes de bénévolat.</p>

<a class="btn becomeMember" lang="fr" href="{{ url_for('become_member') }}" id="becomeMember" role="button">
  <span >REJOIGNEZ-NOUS!</span>
</a>

<a class="btn becomeMember" href="{{ url_for('member_directory') }}" id="memberDirectory" style="width:300px" role="button">
  <span >VOIR NOS MEMBRES</span>
</a>

</span>
    </div>
      {% if banner or quotes %}
        <div>
          {% if banner %}
            <img class="workshop" src="{{ s3_root }}/images/banners/{{banner.file}}">
            <!-- <img class="workshop" src="{{ url_for('static', filename='upload/banners/' + banner.file) }}"> -->
          {% endif %}
          {% if quotes %}
          <div id="carouselExampleIndicators" class="carousel carousel-dark slide">
            <div class="carousel-indicators">
              {% for quote in quotes %}
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ quote.id }}" class="{{ quote.active }}" aria-current="true" aria-label="Slide 1"></button>
              {% endfor %}
            </div>
            <div class="carousel-inner" style="width:360px;">
              {% for quote in quotes %}
              <div class="carousel-item {{ quote.active }}">
                <div class="containerQuota">
                  <img src="{{ url_for('static', filename='images/quote_bg.jpg') }}" alt="Snow" >
                    <div class="quotaDiv" id="quotaDiv" style="font-size:{{ quote.fontSize}}px">
                      {{ quote.text }}
                    </div>
                  <div class="quotaAuthorDiv">
                    <p class="quoteAuthor" id="quoteAuthor">{{ quote.author }}</p>
                    <p class="quoteOrganization" id="quoteOrganization">{{ quote.organization }}</p>
                  </div>
                </div>
              </div>
              {% endfor %}

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          {% endif %}
        </div>
      {% endif %}
  </div>

  <br/>


  <script src="{{ url_for('static', filename='js/test.js') }}"></script>



{% endblock %}
