{% extends 'base/base.html' %}
{% block content %}
  <h1>
    <span lang="en">Member Directory</span><span lang="fr">Répertoire des Membres</span>

  </h1>

<p>2025-2026 Member organizations:</p>
  <br><br>

<span lang="en">
  <ul>
    <li>ANEB (Anorexie et Boulemie Québec) : <a href="https://anebquebec.com/en">https://anebquebec.com/en</a></li>
    <li>Auberge Shalom: <a href="https://www.aubergeshalom.org/">https://www.aubergeshalom.org/</a></li>
    <li>Baobab Familial: <a href="https://baobabfamilial.org/en/">https://baobabfamilial.org/en/</a></li>
    <li>Batshaw Youth & Family Centres/St-Mary’s Hospital: <a href="http://www.batshaw.qc.ca/en">http://www.batshaw.qc.ca/en</a></li>
    <li>Breakthrough T1D : <a href="https://breakthrought1d.ca">https://breakthrought1d.ca</a>/</li>
    <li>CHSLD Bayview: <a href="https://www.chsld-bayview.com/volunteers.html">https://www.chsld-bayview.com/volunteers.html</a></li>
    <li>CIUSSS West Centre MTL-CLSC Benny Farm: <a href="https://www.ciussswestcentral.ca/about-us/volunteering/clsc-de-benny-farm">https://www.ciussswestcentral.ca/about-us/volunteering/clsc-de-benny-farm</a></li>
    <li>Cummings Centre: <a href="https://cummingscentre.org">https://cummingscentre.org</a>/</li>
    <li>Donald Berman Maimonides Geriatric Centre : <a href="https://www.donaldbermanmaimonides.ca/en/">https://www.donaldbermanmaimonides.ca/en/</a></li>
    <li>Douglas Mental Health University Institute/LaSalle Hospital: <a href="https://www.ciusss-ouestmtl.gouv.qc.ca/en/our-ciusss/volunteering/">https://www.ciusss-ouestmtl.gouv.qc.ca/en/our-ciusss/volunteering/</a></li>
    <li>Entraide Bénévole Métro : <a href="https://ebmservices.org/">https://ebmservices.org/</a></li>
    <li>Extra Miles Senior Visiting Program: <a href="https://www.mwuc.org/extra-miles-senior-visiting-program">https://www.mwuc.org/extra-miles-senior-visiting-program</a></li>
    <li>Hadley Community: <a href="https://hadleycommunity.ca/">https://hadleycommunity.ca/</a></li>
    <li>Hope & Cope : <a href="https://hopeandcope.ca/">https://hopeandcope.ca/</a></li>
    <li>MinibiblioPLUS : <a href="https://www.minibiblioplus.org/index.php/en/">https://www.minibiblioplus.org/index.php/en/</a></li>
    <li>Agence Ometz : <a href="https://www.ometz.ca/">https://www.ometz.ca/</a></li>
    <li>Sunrise of Beaconsfield: <a href="https://www.sunriseseniorliving.ca/en/communities/qc/sunrise-of-beaconsfield">https://www.sunriseseniorliving.ca/en/communities/qc/sunrise-of-beaconsfield</a></li>
    <li>Volunteer Bureau of Montreal: <a href="https://www.cabm.net/en/home">https://www.cabm.net/en/home</a></li>
    <li>The Yellow Door: <a href="https://yellowdoor.org/">https://yellowdoor.org/</a></li>
    <li>Youth Unlimited Montréal: <a href="https://yfc.ca/montreal/">https://yfc.ca/montreal/</a></li>
  </ul>

</span>
<span lang="fr">
<ul>
  <li>ANEB (Anorexie et Boulemie Québec) : <a href="https://anebquebec.com/">https://anebquebec.com/</a></li>
  <li>Auberge Shalom: <a href="https://fr.aubergeshalom.org/">https://fr.aubergeshalom.org/</a></li>
  <li>Baobab Familial: <a href="https://baobabfamilial.org/">https://baobabfamilial.org/</a></li>
  <li>Les Centres de la jeunesse et de la famille Batshaw/ Hôpital St-Mary’s : <a href="http://www.batshaw.qc.ca/fr/node">http://www.batshaw.qc.ca/fr/node</a></li>
  <li>Percée DT1: <a href="https://perceedt1.ca/">https://perceedt1.ca/</a></li>
  <li>CHSLD Bayview: <a href="https://www.chsld-bayview.com/benevoles.html">https://www.chsld-bayview.com/benevoles.html</a></li>
  <li>CIUSSS Centre-Ouest- CLSC de Benny Farm :  <a href="https://www.ciussscentreouest.ca/a-propos-du-ciusss/benevolat/clsc-de-benny-farm">https://www.ciussscentreouest.ca/a-propos-du-ciusss/benevolat/clsc-de-benny-farm</a></li>
  <li>Le centre Cummings : <a href="https://cummingscentre.org/fr/">https://cummingscentre.org/fr/</a></li>
  <li>Centre gériatriques Maimonides Donald Berman : <a href="https://www.donaldbermanmaimonides.ca/">https://www.donaldbermanmaimonides.ca/</a></li>
  <li>Institut universitaire en santé mental Douglas/Hôpital LaSalle :   <a href="https://www.ciusss-ouestmtl.gouv.qc.ca/notre-ciusss/benevolat">https://www.ciusss-ouestmtl.gouv.qc.ca/notre-ciusss/benevolat</a></li>
  <li>Entraide Bénévole Métro : <a href="https://ebmservices.org/fr/acceuil/">https://ebmservices.org/fr/acceuil/</a></li>
  <li>Extra Miles Senior Visiting Program: <a href="https://www.mwuc.org/extra-miles-senior-visiting-program">https://www.mwuc.org/extra-miles-senior-visiting-program</a></li>
  <li>Communauté Hadley: <a href="https://hadleycommunity.ca/">https://hadleycommunity.ca/</a></li>
  <li>L’espoir c’est la vie: <a href="https://hopeandcope.ca/fr/">https://hopeandcope.ca/fr/</a></li>
  <li>MinibiblioPLUS : <a href="https://www.minibiblioplus.org/">https://www.minibiblioplus.org/</a></li>
  <li>Agence Ometz : <a href="https://www.ometz.ca/?langID=2">https://www.ometz.ca/?langID=2</a></li>
  <li>Sunrise de Beaconsfield: <a href="https://www.sunriseseniorliving.ca/fr/communities/qc/sunrise-of-beaconsfield">https://www.sunriseseniorliving.ca/fr/communities/qc/sunrise-of-beaconsfield</a></li>
  <li>Centre d’action bénévole de Montréal : <a href="https://www.cabm.net/fr/accueil">https://www.cabm.net/fr/accueil</a></li>
  <li>La Porte Jaune: <a href="https://yellowdoor.org/fr/">https://yellowdoor.org/fr/</a></li>
  <li>Jeunesse sans limites: <a href="https://yfc.ca/fr/montreal/">https://yfc.ca/fr/montreal/</a></li>
</ul>


</span>

{% endblock %}
