{% extends 'base/base.html' %}
{% block content %}
  <h1><span lang="en">Our Mission</span><span lang="fr">Notre mission</span></h1>
  <br/>
<span lang="en">
<p>What We Do</p>

<p><strong>Together, we:</strong></p>

<ul>
  <li>Host networking opportunities</li>
  <li>Offer professional development sessions</li>
  <li>Coordinate volunteer recognition initiatives</li>
  <li>Highlight the diverse volunteer activities within our member organizations</li>
</ul>


<p><strong>Who We Are</strong></p>

<p>Our members are salaried professionals responsible for planning, managing, and delivering volunteer services in their organizations. We meet six times a year—both in person and online—to stay connected and informed.</p>



</span>

<span lang="fr">

<p>Ce que nous faisons</p>

<p><strong>Ensemble, nous:</strong></p>


<ul>
  <li>Organisons des activités de réseautage </li>
  <li>Offrons des séances de perfectionnement professionnel</li>
  <li>Coordonnons des initiatives de reconnaissance des bénévoles</li>
  <li>Mettons en valeur la diversité des activités bénévoles au sein de nos organisations membres</li>
</ul>


<p><strong>Qui nous sommes</strong></p>

<p>Nos membres sont des professionnels salariés responsables de la planification, de la gestion et de la prestation des services bénévoles dans leurs organisations. Nous nous réunissons six fois par année — en personne et en ligne — pour rester connectés et informés.</p>



</span>


<a class="btn becomeMember" href="/become_member" type="button" name="button">
  <span lang="en">Learn about CCV membership</span>
  <span lang="fr">Découvrez l’adhésion au CCV</span>
</a>

{% endblock %}
