{% extends 'base/base.html' %}
{% block content %}

<div class="row">
    <div class="col-6">
        <h2>Release Notes</h2>
        <br>

        {% for release in release_data.releases %}

            <h3>
                Version {{ release.version }}
                {% if release.status == "planned" %}
                    <span class="badge bg-secondary">Planned</span>
                {% endif %}
            </h3>

            {% if release.date %}
                <p>{{ release.date }}</p>
            {% endif %}

            <ul>
                {% for change in release.changes %}
                    <li>{{ change }}</li>
                {% endfor %}
            </ul>

        {% endfor %}


                

    </div>
    <div class="col-6">
        <h1>🔜 Coming Next</h1>
        <br>

        {% for release in release_data.releases_planned %}

            <h3>
                Version {{ release.version }}
                {% if release.status == "planned" %}
                    <span class="badge bg-secondary">Planned</span>
                {% endif %}
            </h3>

            {% if release.date %}
                <p>{{ release.date }}</p>
            {% endif %}

            <ul>
                {% for change in release.changes %}
                    <li>{{ change }}</li>
                {% endfor %}
            </ul>

        {% endfor %}
        

        <h3>📅 Planned / Backlog</h3>
        <br>

        <ul>
            {% for item in release_data.backlog %}
                <li>{{ item }}</li>
            {% endfor %}
        </ul>

    </div>
</div>







{% endblock %}