{% extends 'base/base.html' %}
{% block content %}

<div class="row">
    <div class="col-6">
        <h1>Release Notes</h1>
        <br>
        <h3>Version 0.1.0 — August 29, 2026</h3>

        <h4>🐛 Bug Fixes</h4>

        <ul>
            <li>Removed photos from the Executive Members page.</li>
            <li>Fixed an issue where parts of Executive Members bios were being cut off.</li>
            <li>Fixed an error in Contact Us page.</li>
            <li>Added Executive Meetings.</li>
            <li>Fixed an error that prevented users from adding new activities.</li>
        </ul>

        <h4>✨ Improvements</h4>

        <ul>
            <li>Transferred "www.ccvmontreal.org" from Weebly to PythonAnywhere.</li>
        </ul>


    </div>
    <div class="col-6">
        <h1>🔜 Coming Next</h1>
        <br>
        <h3>📅 Planned for Version 0.1.1</h3>

        <ul>
            <li>Add a way to edit the information in Resources page.</li>
            <li>Fix broken image links, such as those in the Executive Members menu and Activities when no image is provided.</li>
        </ul>


        <h3>📅 Planned / Backlog</h3>
        <ul>
            <li>Transfer contact form mail to Rosalie email.</li>
            <li>Find a permanent solution to the "Server Error" issue.</li>
            <li>Find a good way to do regular backups (database and upload files).</li>
            <li>Adapt the User Interface for smaller screens (cellphone, tablet, etc).</li>

        </ul>

        
    </div>

</div>







{% endblock %}