{% extends 'base/base_iframe.html' %}

{% block content %}

  {% for message in get_flashed_messages() %}

    <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}

  <form action="/update_resource/{{ register_to_update.id }}" method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    
    <strong>{{ form.nameEN.label(class="form-label") }}</strong>
    {{ form.nameEN(class="form-control", value=register_to_update.nameEN) }}

    <strong>{{ form.nameFR.label(class="form-label") }}</strong>
    {{ form.nameFR(class="form-control", value=register_to_update.nameFR) }}

    <strong>{{ form.descriptionEN.label(class="form-label") }}</strong>
    {{ ckeditor.create(value=register_to_update.descriptionEN, name="descriptionEN") }}

    <strong>{{ form.descriptionFR.label(class="form-label") }}</strong>
    {{ ckeditor.create(value=register_to_update.descriptionFR, name="descriptionFR") }}

    <strong>{{ form.url.label(class="form-label") }}</strong>
    {{ form.url(class="form-control", value=register_to_update.url) }}

    
    <br/>
    {{ form.submit(class="btn blueButton") }}
    <a class="btn btn-danger" href="{{ url_for('delete_resource', id=register_to_update.id) }}">Delete</a>

</form>
{{ ckeditor.load() }}
{{ ckeditor.config(name='descriptionEN', height= "900px")}}
{{ ckeditor.config(name='descriptionFR', height= "900px")}}

<script src="{{ url_for('static', filename='js/forms.js') }}"></script>

{% endblock %}
